.card {
    background-color: #333; /* Assuming a dark background for better visibility of text-white */
    border-radius: 8px;
}

.custom-input {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 4px; /* Optional for rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect total width */
}

.custom-input::placeholder {
    color: #aaa; /* Optional for custom placeholder color */
}

.form-control {
    display: block;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

.btn-warning {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #000;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #FFCA28;
    border-color: #FFCA28;
}


