.trip-listing-img{
    width: 100px;
    height: 100px;
}

.mr-10-px{
    margin-right: 10px;
}

.ml-10-px{
    margin-left: 10px;
}

.font-weight-700{
    font-weight: 700;
}

.font-size-14px{
    font-size: 14px;
}

.pickup_drop{
    transition: color 0.3s ease;
}

.trip-container {
    border-radius: 15px; /* Applies to the whole card */
    overflow: hidden; /* Ensures that content inside respects the border-radius */
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Adds smooth transition */
    border: 1px solid #eee;
}


.trip-container:hover {
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2); /* Adds a subtle shadow on hover */
    cursor: pointer;
}

.trip-container:hover .pickup_drop {
    color: #007bff; /* Change this to your desired color */
    transition: color 0.3s ease; /* Smooth color transition */
}

.display-hide{
    display: none;
}

.pl-10-px{
    padding-left: 10px;
}

.driver-image-modal{
    width: 200px;
}

.form-group.required label:after {
    content: "*";
    color: red;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.pr-3{
    padding-right: 0.75rem;
}
.mr-2{
    margin-right: 0.5rem;
}

.passenger-img{
    height: 70px ;
    width: 70px;
    border-radius: 50%;
}


/*Drop Zone */

.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 100px !important;
    height: 100px !important;
    position: relative;
    display: block;
    z-index: 10;
}

.dropzone {
    min-height: 0px !important;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: white;
    padding: 10px 10px;
}



/*Mini Loader*/
.miniLoaderContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.miniLoaderContainer img{
    height: 50px;
}

@media (min-width: 300px) and (max-width: 700px){
        .trip-listing-img{
            width: 100px;
            height: 100px;
        }
        .text-center_custom{
            text-align: center;
        }
        .margin-top_custom{
            margin:10px;
        }
   
        .theme-btn {
        font-size: 10px;
        color: var(--color-dark);
        padding: 7px 11px;
        transition: all 0.5s;
        text-transform: uppercase;
        position: relative;
        border-radius: 50px;
        font-weight: 600;
        letter-spacing: .5px;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        border: none;
        background: var(--theme-color);
        box-shadow: var(--box-shadow);
        z-index: 1;
        }   
  }
