.trip-listing-img{
    width: 100px;
    height: 100px;
}

.mr-10-px{
    margin-right: 10px;
}

.ml-10-px{
    margin-left: 10px;
}

.font-weight-700{
    font-weight: 700;
}

.font-size-14px{
    font-size: 14px;
}

.pickup_drop{
    transition: color 0.3s ease;
}

.trip-container {
    border-radius: 15px; /* Applies to the whole card */
    overflow: hidden; /* Ensures that content inside respects the border-radius */
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Adds smooth transition */
    border: 1px solid #eee;
}


.trip-container:hover {
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2); /* Adds a subtle shadow on hover */
    cursor: pointer;
}

.trip-container:hover .pickup_drop {
    color: #007bff; /* Change this to your desired color */
    transition: color 0.3s ease; /* Smooth color transition */
}

.display-hide{
    display: none;
}

.pl-10-px{
    padding-left: 10px;
}

.driver-image-modal{
    width: 200px;
}

.form-group.required label:after {
    content: "*";
    color: red;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.pr-3{
    padding-right: 0.75rem;
}
.mr-2{
    margin-right: 0.5rem;
}

.passenger-img{
    height: 70px ;
    width: 70px;
    border-radius: 50%;
}
